<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block mapleaflet %}{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<header class="header">
    <a href="" class="logo">CSS Nav</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <a href="/">
                <i class="fa fa-home fa-lg"></i>
                <span class="nav-text">Accueil</span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <i class="fa fa-lock fa-lg"></i>
                <span class="nav-text">Administration</span>
            </a>
        </li>
        <li>
            <a href="/profile">
                <i class="fa fa-user fa-lg"></i>
                <span class="nav-text">Mon Profil</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out fa-lg"></i>
                <span class="nav-text">Déconnexion</span>
            </a>
        </li>

    </ul>
</header>
{% block body %}{% endblock %}

</body>
</html>
